html, body {
    margin: 0px;
    padding: 0px;
    color: #222;
}

html {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100%;
    min-width: 100%;
}

.container {
    margin-top: 50px;
}

.contents {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.side-contents {
    width: 400px;
    padding: 25px;
    background-color: #ddd;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.side-contents.right {
    margin-left: 30px;
}

.side-contents.left {
    margin-right: 30px;
}

.main-contents {
    flex: 1;
    padding: 25px;
    background-color: #ddd;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

/* table */

table, td, th {
    border: 2px solid black;
}

table {
    width : 100%;
    border-collapse: collapse;
}

table>th {
    font-weight: 500;
}

th, td {
    prgging: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* header */
.flex-navbar {
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;

    font-size: 20px;
}

.flex-navbar-header {
    width: 100px;

    /* 縦横中央揃え */
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */

    background-color: #ddd;
}

.flex-navbar-header>a {
    color: #666;
    text-decoration: none;
}

ul.flex-navbar-contents {
    flex: 1;

    list-style-type: none;
    margin: 0;
    padding: 0;

    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

ul.flex-navbar-contents>li {
    /* 縦横中央揃え */
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
}

ul.flex-navbar-contents>li a {
    display: block;
    color: #666;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}

ul.flex-navbar-contents>li a:hover:not(.active) {
    background-color: #ddd;
}

ul.flex-navbar-contents>li a.active {
    color: white;
    background-color: #4CAF50;
}

/* ログインコンテナ */

.login-container-wrapper {
    width: 100%;
    height: 100vh;

    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
}

.login-container {
    width: 500px;
    height: 250px;

    margin-top: 150px;
    padding: 30px 50px 30px 50px;

    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;

    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

.login-container>.form-group {
    flex: 1;

    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    flex-direction: row;
}

.login-container>.form-group>label {
    maring: 0px;
    padding: 0px;

    width: 130px;
    font-size: 20px;
    font-weight: bold;

    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
}

.login-container>.form-group>input {
    flex: 1;
}

.login-container-footer {
    flex: 1;
    width: 100%;

    display: flex;
    flex-direction: row;
}

.login-container-footer-content {
    width: 50%;

    display: flex;
    display: -webkit-flex;

    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
}

.login-container-footer-content>button {
    margin: 0px;
    padding: 10px 15px 10px 15px;
    font-size: 18px;
    font-weight: bold;
}

.login-container-footer-content>a {
    margin: 0;
    padding: 10px 15px 10px 15px;
    font-size: 20px;
}

/* フォームコンテナ */

.form-container-wrapper {
    width: 100%;
    height: 100vh;

    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
}

.form-container {
    width: 800px;
    margin-top: 50px;
    padding: 30px 50px 30px 50px;

    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;

    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

.form-container-fields {
    flex: 1;
    width: 100%;

    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    flex-direction: column;
}

.form-container-footer {
    height: 70px;

    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.form-container-footer>button {
    margin: 0px;
    padding: 10px 15px 10px 15px;
    font-size: 18px;
    font-weight: bold;
}

.form-container-fields-field {
    width: 100%;
    flex: 1;

    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    flex-direction: row;
}

.form-container-fields-field>label {
    maring: 0px;
    padding: 0px;
    padding-right: 10px;

    width: 180px;
    font-size: 20px;
    font-weight: bold;

    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: flex-end; /* 横方向中央揃え（Safari用） */
    justify-content: flex-end; /* 横方向中央揃え */
}

.form-container-fields-field-input {
    flex: 1;
}

/* 名前 */

.name-form {
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    flex-direction: row;
}

.name-form>input {
    flex: 1;
}

/* チェックボックス */

.checkbox-form {
    height: 270px;
    overflow-y: scroll;

    display: flex;
    display: -webkit-flex;
}

.checkbox-form>label {
    maring: 0px;
    padding: 0px;
    padding-right: 10px;

    width: 180px;
    font-size: 20px;
    font-weight: bold;

    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: flex-end; /* 横方向中央揃え（Safari用） */
    justify-content: flex-end; /* 横方向中央揃え */
}

.checkbox-form-input-wrapper {
    flex: 1;
    height: 100%;
    overflow-y: scroll;
}

.checkbox-form-input {
    display: flex;
    display: -webkit-flex;

    -webkit-align-items: center;
    align-items: center;

    -webkit-justify-content: center;
    justify-content: center;

    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    -webkit-align-content: flex-end;
    align-content: flex-end;
}

.checkbox-form-input>.checkbox {
    width: 180px;
    padding: 5px;
    margin: 0;
}

.checkbox-form-input>.checkbox>label {
    width: 100%;
}

.checkbox-form-input>.checkbox>label>input {
    position:relative;
    top:-1px;
    width: 30px;
}

.checkbox-form-input>.checkbox>label>.select {
    padding-top: 3px;
    padding-left: 10px;
}

/* 各コンテナの高さ */

#add-user-container {
    height: 400px;
}

#add-project-container {
    width: 1100px;
    height: 700px;
}

#add-minute-container {
    width: 800px;
    height: 600px;
}

#minute-checkbox-form {
    height: 270px;
}

#add-item-container {
    width: 700px;
    height: 600px;
}

#item-checkbox-form {
    height: 200px;
}
