html, body {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100%;
    min-width: 100%;
}

.container {
    margin-top: 50px;
}

/* header */
.flex-navbar {
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;

    font-size: 20px;
}

.flex-navbar-header {
    width: 100px;

    /* 縦横中央揃え */
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */

    background-color: #ddd;
}

.flex-navbar-header>a {
    color: #666;
    text-decoration: none;
}

ul.flex-navbar-contents {
    flex: 1;

    list-style-type: none;
    margin: 0;
    padding: 0;

    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

ul.flex-navbar-contents>li {
    /* 縦横中央揃え */
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
}

ul.flex-navbar-contents>li a {
    display: block;
    color: #666;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}

ul.flex-navbar-contents>li a:hover:not(.active) {
    background-color: #ddd;
}

ul.flex-navbar-contents>li a.active {
    color: white;
    background-color: #4CAF50;
}

/* ログインコンテナ */

.login-container-wrapper {
    width: 100%;
    height: 100vh;

    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
}

.login-container {
    width: 500px;
    height: 250px;

    margin-top: 150px;
    padding: 30px 50px 30px 50px;

    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;

    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

.login-container>.form-group {
    flex: 1;

    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    flex-direction: row;
}

.login-container>.form-group>label {
    maring: 0px;
    padding: 0px;

    width: 130px;
    font-size: 20px;
    font-weight: bold;

    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
}

.login-container>.form-group>input {
    flex: 1;
}

.login-container-footer {
    flex: 1;
    width: 100%;

    display: flex;
    flex-direction: row;
}

.login-container-footer-content {
    width: 50%;

    display: flex;
    display: -webkit-flex;

    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
}

.login-container-footer-content>button {
    margin: 0px;
    padding: 10px 15px 10px 15px;
    font-size: 18px;
    font-weight: bold;
}

.login-container-footer-content>a {
    margin: 0;
    padding: 10px 15px 10px 15px;
    font-size: 20px;
}
