/*
 * 幅の設定
 */

.table {
  width: 100%;
  display: inline-block;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.table.right {
  border: none;
  padding-left: 20px;
}

.table-row {
  width: 100%;
  display: flex;          display: -webkit-flex;
  flex-direction: row;    -webkit-flex-direction: row;
  flex-wrap: no-wrap;     -webkit-flex-wrap: no-wrap;
  padding: 0 0 0 0;
}

.header>.table-content {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.table-content-wrapper.half {
  width: 50%;
  margin: 0;
  padding: 0;
  border: none;

  display: flex;
  display: -webkit-flex;
  flex-direction: row;
}

.table-content.half-th {
  flex: 0 0 40px;
}

.table-content.half-td {
  flex: 1;
}

.table-content-wrapper.quoter {
  width: 25%;
  margin: 0;
  padding: 0;
  border: none;

  display: flex;
  display: -webkit-flex;
  flex-direction: row;
}

.table-content.quoter-th {
  flex: 0 0 25px;
}

.table-content.quoter-td {
  flex: 1;
}

.table-content-wrapper.column {
  width:100%;
  height: 55px;
  margin: 0;
  padding: 0;
  border: none;

  display: flex;
  display: -webkit-flex;
  flex-direction: row;
}

.table-content.column-th {
  width: 50px;

  border-left: 1px solid black;

  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#column-first {
  border-top: 1px solid black;
}

.table-content.column-td {
  flex: 1;

  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/* コンテンツの種類によるレイアウト */

.table-content.project-name {
  font-size: 12px;
}

.table-content.minute-name {
  text-align: left;
  font-size: 22px;
  font-weight: bold;
}

.table-content.header {
  font-weight: bold;
}

.table-content.no {
  flex: 0 0 30px;
}

.table-content.category {
  flex: 0 0 80px;
}

.table-content.text {
  flex: 1;
}

.table-content.primary {
  flex: 0 0 35px;
}

.table-content.responsibility {
  flex: 0 0 100px;
}

.table-content.deadline {
  flex: 0 0 80px;
}

.table-content.actions {
  flex: 0 0 60px;
}

/*
 * 担当者の見た目
 */

.table-content.responsibility>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.table-content.responsibility>ul {
  float: left;
  padding-left: 10px;
}

/*
 * 見た目の変更
 */

.table-content {
  width: 100%;
  background-color: white;
  padding: 5px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.table-content.text {
  word-break: break-all;
}

.table-row.header>.table-content {
  background-color: #FFEEDB;
  font-weight: bold;
}

/*
 * テキスト配置
 */

.table-content {
  text-align: center;
}

.table-content.text {
  text-align: left;
}

.header>.table-content {
  text-align: center;
}
