body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.page {
    width: 210mm;
    min-height: 297mm;
    padding: 10mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.subpage {
    /* border: 1px red solid; */
    height: 277mm;
    /* outline: 1cm #FFEAEA solid; */
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    html, body {
        width: 210mm;
        height: 297mm;
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
    .pdf-image-button {
        display: none;
    }
    .modal {
        display: none;
    }
    #squarespaceModal {
        display: none;
    }
    .modal-dialog {
        display: none;
    }
    .modal-content {
        display: none;
    }
}

.contents {
    padding: 0;
    margin: 0;
    height: 100%;

    display: flex;          display: -webkit-flex;
    flex-direction: column; -webkit-flex-direction: column;
}

/* ヘッダー/議事録間 */

.contents-header {
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
    flex-shrink: 0;
}

.contents-minute {
    flex: 1;
    flex-shrink: 0;
}

/* ヘッダー内 */

.contents-header {
    display: flex;       display: -webkit-flex;
    flex-direction: row; -webkit-flex-direction: row;
}

.contents-header-info {
    width: 70%;
}

.contents-header-column {
    width: 30%;
}

/* PDF 出力ボタン */

.pdf-image-button {
    position: fixed;
    right: 30px;
    bottom: 20px;
}

.print-method-wrapper {
    display: flex;       display: -webkit-flex;
    flex-direction: column; -webkit-flex-direction: column;
}

.print-method-row {
    flex: 1;

    display: flex;       display: -webkit-flex;
    flex-direction: row; -webkit-flex-direction: row;
}

.print-method {
    flex: 1;
    padding: 10px;
}
